.LoginCSS{
    width: 80%;
    margin: auto ;
    transition: all 0.5s;
}

.passwordInputbox{
    margin-top:20px;
}
.loginButton{
    margin-top:20px;
}

@media only screen and (min-width: 500px){
    .LoginCSS{
        width:60%;
    }
}

@media only screen and (min-width: 900px){
    .LoginCSS{
        width:40%;
    }
}