.Header{
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    background-color: black;
}
.PageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.PageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-self: center;
}
.ant-page-header{
    text-align: left;
}
.PageHeadercss{
    margin-top:40px;
    margin-bottom: 40px;
}
.Logoutbtn{
    background-color: #515151;
    align-self: flex-end;
    position: absolute;
    top:17px;
}
.ant-tag.ant-tag-has-color{
    cursor: default;
}

body{
    background-color: #E5E5E5;
}
.ant-table-tbody{
    background-color: #FFFFFF;
}
.ant-table-tbody:hover{
    background-color: #FFFFFF;
}